#navbar{
    background-color: white;
    display: flex;
}

#menu{
    float: left;
    overflow: hidden;
    width:10%
}

#logo{
    
    overflow: hidden;
    width:20%
}

#textBox{

        display: inline-block;
        border: 1px solid lightgray;
        border-radius: 2px;
        margin-left: 130px;
        margin-right: 90px;
  
    overflow: hidden;
    width:50%;
}

#search{
    float:left;
    overflow: hidden;
    width:10%;
}

#camera{
    left:0px;
    overflow: hidden;
    width:10%
}

#nineDotIcon{
    left:0px;
    overflow: hidden;
    width:10%
}

#ring{
    overflow: hidden;
    width:10%;
    background-color;white:
}

#profilIcon{
    overflow: hidden;
    width:10%
}

#bar{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

#main{
    display:flex;
}
#video{
    background-color: white;
    float: left;
    width: 70%;
    height: auto;
    overflow: hidden;

}

#infoBar{
    display: flex;
}


#viewNumber{
 
    overflow: hidden;
    width: 30%;
 
}
#description{
    display: flex;
}

#descriptionText{
    
    position: relative;
    left: 70px;
    width: 70%;
}


#sidebar{
    background-color: white;
    overflow: hidden;
}

#nextBar{
    display: flex;
}

#nextText{
    overflow: hidden;
    width: 70%;
}

#autoplay{
    overflow: hidden;
    width: 30%;
}
#autoplayButton{
    overflow: hidden;
    width: 10%;
}

#subscribe{
    overflow: hidden;
    width: 30%;
}

#userIcon{
    overflow: hidden;
    width: 80%;
}