#navbar{
    background-color: white;
    display: flex;
}

#menu{
    float: left;
    overflow: hidden;
    width:10%
}

#logo{
    
    overflow: hidden;
    width:20%
}

#textBox{
    overflow: hidden;
    width:50%;
}

#search{
    float:left;
    overflow: hidden;
    width:10%;
}

#camera{
    left:0px;
    overflow: hidden;
    width:10%
}

#nineDotIcon{
    left:0px;
    overflow: hidden;
    width:10%
}

#ring{
    overflow: hidden;
    width:10%;
    background-color;white:
}

#profilIcon{
    overflow: hidden;
    width:10%
}

#bar{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

#main{
    display:flex;
}
#video{
    background-color: blue;
    float: left;
    width: 70%;
    height: auto;
    overflow: hidden;

}

#sidebar{
    background-color: yellow;
    overflow: hidden;
}